.game-panel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 90vh; */
}

.game-panel-img {
    width: 100%;
    object-fit: contain;
    /* transition: opacity 10s;
    opacity: 1; */
}

.game-panel-title {
    width: 100%;
}

.game-panel-description {
    width: 100%;
}

.game-panel-msg {
    width: 100%;
}