.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .game-list-wrapper {
    position: relative;
}

.game-list-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.game-list-nav-wrapper * {
    background-color: grey;
    opacity: .5;
}

.game-list-nav-wrapper *:hover {
    opacity: 1;
} */

