.portfolio-panel-container {
    /* display: inline-flex; */
    /* vertical-align: top; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* min-width: 915.5916px; */
    /* max-width: 915.5916px; */

    width: 858.33px;
    /* max-width: 800px; */
    /* width: 915.5916px; */
    height: 300px;

    margin: 20px 0 50px 0;
}

.portfolio-panel-img-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    /* width: 45%; */
    width: 48%;

    /* background-color: blue; */
    box-shadow: 0px 0px 21px 2px #000000;
}



.portfolio-panel-img-bot-wrapper {
    /* height: 12%; */
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    /* margin-top: auto; */
    background-color: rgba(31, 31, 31, 0.37)
}



.portfolio-panel-img {
    /* width: 100%; */
    /* flex: 1 1; */
    /* min-width: 40%; */
    /* width: 45%; */
    width: 100%;
    object-fit: contain;
    max-height: 88%;
    flex-grow: 1;
    box-sizing: border-box;
    /* border: 5px solid white; */
    /* border: 10px ridge #1C6EA4; */
    /* border: 10px ridge rgb(6, 73, 117); */
    /* border: 10px ridge rgb(129, 4, 4); */
    background-color: black;
}

.portfolio-nav-arrow {
    opacity: .3;
    background-color: grey;
}

.portfolio-nav-arrow:hover {
    opacity: .8;
}

.portfolio-info-container {
    /* width: 45%; */
    width: 48%;
    /* border: 1px solid red; */
    /* box-shadow: 0px 0px 21px 2px #000000; */
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.83);
    
    box-sizing: border-box;
    /* border: 10px ridge #1C6EA4; */
    /* border: 10px ridge rgb(6, 73, 117); */
}

.portfolio-info-link {
    text-decoration: none;
    color: rgb(62, 166, 255);
    font-weight: 400;
}

.portfolio-info-link-note {
    font-weight: 400;
    font-style: italic;
}

.portfolio-info-tech {
    font-weight: 400;
}

.portfolio-panel-img-title {

}

.portfolio-panel-img-fs-container {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.9);
    z-index: 100;
    /* opacity: .6; */
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 6px solid darkgrey;
    border-radius: 12px;
    /* height: 100%; */

    /* max-height: 100%; */

    /* height: 100rem; */
    /* height: 650.25px; */
    /* max-height: 500px; */
}

.portfolio-panel-img-fs {
    /* width: 90%; */
    max-width: 90%;
    /* max-height: 100%; */
    /* max-height: 700px; */
    /* max-height: inherit; */
    /* position: relative; */
 
    /* z-index: 100; */

    /* object-fit: contain; */
    /* height: inherit; */
    /* height: auto; */
    /* width: auto; */
}

.portfolio-panel-img-fs-btn-close {
    /* float: left; */
    top: 0;
    right: 0;
    position: absolute;
    padding: 7px 7px 7px 7px;
    /* background: rgb(211, 211, 211); */
    background: white;
    opacity: .6;
    color: black;
    border-radius: 5px;
    border: 2px solid orange;
    /* border-radius: 15px; */
}

.portfolio-panel-img-fs-btn-close:hover {
    opacity: .9;
}


@media only screen and (max-width: 900px){
    .portfolio-panel-container {
        display: flex;
        flex-direction: column;
        min-width: auto;
        max-width: 414px;
        /* height: 600px; */
        height: 600px;
        width: 414px;
    }

    .portfolio-panel-img-container {
        height: 300px;
        width: 414px;
        /* align-self: center; */
        align-content: center;
        
    }

    .portfolio-info-container {
        width: 414px;
        height: 300px;
        /* align-self: center; */
        /* box-shadow: 0px 7px 21px 2px rgba(0,0,0,0.53); */
    }

    .p-shadow-top {
        box-shadow: 0px -3px 21px 2px rgba(0,0,0,0.53);
    }

    .p-shadow-bot {
        box-shadow: 0px 3px 21px 2px rgba(0,0,0,0.53);
    }

}