.nav-container {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    cursor: default;
}

.nav-icon {
    /* display: flex; */
    /* align-self: flex-start; */
}

.home-tab {
    /* display: flex; */
    /* align-items: flex-start; */
}

.nav-tab {
    padding: 4px 8px;
    cursor: default;
    text-decoration: none;
    color: inherit;
    display: flex;
}

.light {
    background-color: rgb(212, 212, 212);
    color: black;
    transition: all 0.25s linear;
}

.dark {
    background-color: rgb(75, 75, 75);
    color: rgba(255, 255, 255, 0.712);
    transition: all 0.25s linear;
    /* position: relative; */
}

/* .dark nav-active {
    background-color: rgb(75, 75, 75);
    color: rgba(255, 255, 255, 0.712);
} */

.light .nav-tab:hover {
    /* box-shadow: inset 0 0 3px #000000; */
    background-color: white;
}

.dark .nav-tab:hover {
    /* box-shadow: inset 0 0 10px white; */
    background-color: rgba(175, 175, 175, 0.445);
}

.theme-toggle-label-dark {
    position: absolute;
    top: 15px;
    opacity: .8;
    background-color: rgb(75, 75, 75);
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
    /* transition: all .1s; */
}

.theme-toggle-label-light {
    position: absolute;
    top: 15px;
    opacity: .8;
    background-color: darkgrey;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    /* transition: all .1s; */
}
