.nav-container {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    /* align-items: center; */
    align-items: flex-start;

    /* height: 48px; */
    font-size: 1rem;
    height: 51px;
}

/* @media (max-width: 600px) {
    .nav-container {
        display: none;
    }
} */

.nav-icon {
    margin-right: 5px;
}

.home-tab {
    /* display: flex;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
    justify-content: flex-end; */
    /* box-sizing: border-box; */
}

.theme-icon {
    margin: 0px 15px 0px 5px;
    cursor: pointer;
    align-self: center;
}

.nav-tab {
    /* margin: 0; */
    padding: 16px 8px 16px 8px;
    /* padding-bottom: 13px; */
    /* padding-bottom: 16px; */
    /* cursor: default; */
    text-decoration: none;
    color: inherit;
    display: flex;

    align-items: center;

    /* font-size: 1rem; */

    /* height: 100%; */
}

.light {
    background-color: rgb(212, 212, 212);
    color: black;
    transition: all 0.25s linear;
}

.dark {
    background-color: rgb(75, 75, 75);
    /* color: rgba(255, 255, 255, 0.712); */
    color: rgba(255, 255, 255, .9);
    transition: all 0.25s linear;
}

.dark > .nav-active {
    /* background-color: rgb(75, 75, 75); */
    /* color: rgba(255, 255, 255, 0.712); */

    /* border-bottom: 1px solid lightblue; */
    /* text-decoration: underline solid lightblue; */

    /* border-bottom: 2px solid red; */
    padding-bottom: 13px;
    border-bottom: 3px solid white;
    /* margin-bottom: -2px; */
}

.light .nav-active {
    padding-bottom: 13px;
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

.light .nav-tab:hover {
    /* box-shadow: inset 0 0 3px #000000; */
    background-color: white;
}

.dark .nav-tab:hover {
    /* box-shadow: inset 0 0 10px white; */
    background-color: rgba(175, 175, 175, 0.445);
}

.theme-toggle-label-dark {
    position: absolute;
    /* top: 15px; */
    top: 35px;
    opacity: .8;
    background-color: rgb(75, 75, 75);
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
    /* transition: all .1s; */
    z-index: 200;
    color: rgba(255, 255, 255, .9);
}

.theme-toggle-label-light {
    position: absolute;
    /* top: 15px; */
    /* top: 100px; */
    top: 35px;
    opacity: .8;
    background-color: darkgrey;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    /* transition: all .1s; */
    z-index: 200;
}
